<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <link href="/static/css/start.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
User classes
    </div>
	<div>
<center>
  <p> All of our new classes is:</p>
    <style>
    #imagewithcaption {
    {#float:left;#}
    width: 300px;
    text-align:center;
    }
    #image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    }
    </style>
    {% for item in class_link %}
   <p id=imagewithcaption><img id="image" src={{ item.0 }} width=300 height=300/><a href="loaders?a={{ item.1 }}">{{ item.1 }}<a></p>
   {% endfor %}
</center>
	</div>
</body>
</html>