<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <link href="/static/css/start.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="header">
User classes
    </div>
	<div>
<center>
  <p> All of our new classes is:</p>
    <style>
    #imagewithcaption {
    {#float:left;#}
    width: 300px;
    text-align:center;
    }
    #image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    }
    </style>
    {% for item in class_link %}
   <p id=imagewithcaption><img id="image" src={{ item.0 }} width=300 height=300/><button onclick="myFunc('{{ item.1 }}')">{{ item.1 }}</button></p>
   {% endfor %}
</center>
	</div>
</body>
<script>

        function myFunc(class_name) {
            {#var a = 'thumbnails-generate'#}
            window.location.pathname = '/myapp/loaders/'  + class_name;
        };
        {#document.querySelector('#loa').onclick = function(e) {#}
        {#var className = document.querySelector('#loa').valueOf();#}
        {#window.location.pathname = '/chat/' + roomName;#}
    </script>
</html>